<div class="content page">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Categorical Spending</h4>
                    <p class="category">Pie graph of spending by category</p>
                </div>
                <div class="content">
                    <div id="category_spending_graph" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-pie-chart"></i> Rounded values
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Categorical Income</h4>
                    <p class="category">Pie graph of income by category</p>
                </div>
                <div class="content">
                    <div id="category_income_graph" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-pie-chart"></i> Rounded values
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Spending over time</h4>
                    <p class="category">Line graph of change in spending over time</p>
                </div>
                <div class="content">
                    <div id="spending_graph" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <i class="fa fa-circle text-info"></i> Past Spending
                        <i class="fa fa-circle text-danger"></i> Future Spending
                        <hr>
                        <div class="stats">
                            <i class="fa fa-line-chart"></i> Exact Values
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Projected Spending over time</h4>
                    <p class="category">Line graph of projected change in spending over time</p>
                </div>
                <div class="content">
                    <div id="proj_spending_graph" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-line-chart"></i> Exact Values
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Reports</h4>
                        <p class="category">List of reports submitted by treasurer</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Date Submitted</th>
                                <% if (leadership === true) { %>
                                  <th>Delete?</th>
                                <% } %>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < reports.length; i++) { %>
                                  <% var report = reports[i]; %>
                                  <tr>
                                      <td><%- report.category %></td>
                                      <td><%- report.desc %></td>
                                      <td><%- report.dollars %></td>
                                      <td><%- report.date %></td>
                                      <% if (leadership === true) { %>
                                        <td>
                                          <form action="/finReports/<%- report._key %>" method="post">
                                            <button style="margin-left: 10px" type="submit">
                                              <i class="fa fa-trash"></i>
                                            </button>
                                          </form>
                                        </td>
                                      <% } %>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% if (leadership === true) { %>
          <div class="row">
              <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create report</h4>
                        <p class="category">Used for treasurer to report spending/income</p>
                    </div>
                    <div class="content">
                        <form action="/finReports" method="post" id="finReportForm">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount ($)</label>
                                    <input type="number" step="0.01" name="dollars" placeholder="negative means spending, postive means income" class="form-control" required />
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Category</label>
                                      <select form="finReportForm" name="category" class="form-control" required>
                                        <% for (var i = 0; i < categories.length; i++) { %>
                                          <% var category = categories[i]; %>
                                          <option value="<%- category %>"><%- category %></option>
                                        <% } %>
                                      </select>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" name="date" value="<%- getCurrDateStr() %>" class="form-control" required />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" name="desc" placeholder="explain what you are reporting" class="form-control" required />
                                </div>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
              </div>
          </div>
        <% } %>
    </div>
</div>
