<div class="content page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Year Graph</h4>
                        <p class="category">Percetanges of the club split up by year.</p>
                    </div>
                    <div class="content">
                        <div id="year_pie" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <i class="fa fa-circle text-info"></i> Freshman
                            <i class="fa fa-circle text-danger"></i> Sophomore
                            <i class="fa fa-circle text-warning"></i> Junior
                            <i class="fa fa-circle text-other"></i> Senior
                            <hr>
                            <div class="stats">
                                <i class="fa fa-pie-chart"></i> Rounded (ceiling) values
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Major Graph</h4>
                        <p class="category">Percetanges of the club split up by major.</p>
                    </div>
                    <div class="content">
                        <div id="major_pie" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-pie-chart"></i> Rounded (ceiling) values
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Role Graph</h4>
                        <p class="category">Percetanges of the club split up by role.</p>
                    </div>
                    <div class="content">
                        <div id="role_pie" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <i class="fa fa-circle text-info"></i> Leaders
                            <i class="fa fa-circle text-danger"></i> DevCore
                            <i class="fa fa-circle text-warning"></i> Web
                            <i class="fa fa-circle text-other"></i> Marketing
                            <i class="fa fa-circle text-other-2"></i> Exploration
                            <hr>
                            <div class="stats">
                                <i class="fa fa-pie-chart"></i> Rounded (ceiling) values
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Set Scores</h4>
                        <p class="category">Form for instructors/graders to set scores for assignments</p>
                    </div>
                    <div class="content">
                        <form action="/scores" method="post" id="scoresForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Member</label>
                                        <select form="scoresForm" name="member" required>
                                            <% for (var i = 0; i < members.length; i++) { %>
                                              <% var user = members[i]; %>
                                              <option value="<%- user._key %>"><%- user.name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Assignment</label>
                                        <select form="scoresForm" name="assignmentId" required>
                                          <% for (var i = 0; i < assignments.length; i++) { %>
                                            <% var assignment = assignments[i]; %>
                                            <option value="<%- assignment._key %>"><%- assignment.name %></option>
                                          <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Score</label>
                                        <input required type="text" class="form-control" placeholder="10/10" value="" name="score">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Set</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Charge Request</h4>
                        <p class="category">Send request to members to charge them</p>
                    </div>
                    <div class="content">
                        <form action="/paymentRequests" method="post" id="chargeForm">
                            <input type="hidden" value="true" name="charge">
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Amount ($)</label>
                                      <input required type="number" class="form-control" placeholder="40.50" value="" name="dollars">
                                  </div>
                                  <div class="form-group">
                                      <label>Message</label>
                                      <input required type="text" class="form-control" placeholder="Description of the charge" value="" name="message">
                                  </div>
                                  <div class="form-group">
                                      <label>Member</label>
                                      <select form="chargeForm" name="members" multiple required>
                                          <% for (var i = 0; i < members.length; i++) { %>
                                            <% var user = members[i]; %>
                                            <option value="<%- user._key %>"><%- user.name %></option>
                                          <% } %>
                                      </select>
                                  </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Send</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Assignments</h4>
                        <p class="category">Form for instructors/graders to create assignments</p>
                    </div>
                    <div class="content">
                        <form action="/assignments" method="post" id="assignmentsForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Due</label>
                                        <input required type="text" class="form-control" placeholder="1/17/17" value="" name="due">
                                    </div>
                                    <div class="form-group">
                                        <label>Documentation Link</label>
                                        <input required type="text" class="form-control" placeholder="http://google.com" value="" name="link">
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input required type="text" class="form-control" placeholder="Android Mini Proj 1" value="" name="name">
                                    </div>
                                    <div class="form-group">
                                        <select form="assignmentsForm" required multiple class="form-control" name="roleIds">
                                          <% for (var i = 0; i < roles.length; i++) { %>
                                            <% var role = roles[i]; %>
                                            <option value="<%- i %>"><%- role.title %></option>
                                          <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Expected Absence Overview</h4>
                        <p class="category pull-left">View of all expected absences</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('expectedAbsences')" id="expectedAbsencesToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Event</th>
                                <th>Reason</th>
                            </thead>
                            <tbody id="expectedAbsences">
                                <% for (var i = 0; i < expectedAbsences.length; i++) { %>
                                  <% var expected = expectedAbsences[i]; %>
                                  <tr>
                                    <td><%- expected.name %></td>
                                    <td><%- expected.title %></td>
                                    <td><%- expected.reason %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Assignment Overview</h4>
                        <p class="category pull-left">View of all assignments created</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('assignments')" id="assignmentsToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Due</th>
                                <th>Link</th>
                                <th>Roles</th>
                            </thead>
                            <tbody id="assignments">
                                <% for (var i = 0; i < assignments.length; i++) { %>
                                  <% var assignment = assignments[i]; %>
                                  <tr>
                                    <td><%- assignment.name %></td>
                                    <td><%- assignment.due %></td>
                                    <td><a href="<%- assignment.link %>" target="_blank"><%- assignment.link %></a></td>
                                    <td><%- roleIdsToString(roles, assignment.roleIds) %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Score Overview</h4>
                        <p class="category pull-left">View of scores for all assignments for all members</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('scores')" id="scoresToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Assignment Name</th>
                                <th>Member Name</th>
                                <th>Score</th>
                                <th>Due</th>
                            </thead>
                            <tbody id="scores">
                                <% for (var i = 0; i < scores.length; i++) { %>
                                  <% var score = scores[i]; %>
                                  <tr>
                                    <td><%- score.assignment_name %></td>
                                    <td><%- score.member_name %></td>
                                    <td><%- score.score %></td>
                                    <td><%- score.due %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Payments</h4>
                    <p class="category pull-left">View of all payment requests made</p>
                    <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('payment')" id="paymentToggle">Hide</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                          <th>Member</th>
                          <th>Type</th>
                          <th>Completed?</th>
                          <th>Amount ($)</th>
                          <th>Message</th>
                          <th>Date</th>
                          <th>Complete</th>
                        </thead>
                        <tbody id="payment">
                          <% for (var i = 0; i < requests.length; i++) { %>
                            <% var request = requests[i]; %>
                            <tr>
                                <% if (request.members) { %>
                                  <td><%- getMemberNames(members, request.members) %></td>
                                <% } else { %>
                                  <td><%- getMemberName(members, request.member) %></td>
                                <% } %>
                                <td><%- request.type %></td>
                                <% if (request.completed === true) { %>
                                  <td class="text-success">Yes
                                <% } else { %>
                                  <td class="text-danger">No
                                <% } %>
                                </td>
                                <td><%- request.dollars %></td>
                                <td>
                                <% if (request.type == "reimbursement") { %>
                                  <% url = request.imageUrl %>
                                  <% include ../partials/modal-image %>
                                <% } %>
                                <%- request.message %>
                                </td>
                                <td><%- timeToString(request.lastUpdated) %></td>
                                <td>
                                  <% if (request.completed !== true && request.type == "reimbursement") { %>
                                    <form action="/paymentRequests/<%- request._key %>" method="post">
                                      <input type="hidden" name="reimbursement" value="true">
                                      <button style="margin-left: 10px" type="submit">
                                        <i class="fa fa-check"></i>
                                      </button>
                                    </form>
                                  <% } else if (request.complete === true) { %>
                                    No action required.
                                  <% } else { %>
                                    Waiting for member approval...
                                  <% } %>
                                </td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Feedback</h4>
                        <p class="category pull-left">View of all feedback submitted</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('feedback')" id="feedbackToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Event</th>
                                <th>Response</th>
                            </thead>
                            <tbody id="feedback">
                                <% for (var i = 0; i < feedbacks.length; i++) { %>
                                  <% var feedback = feedbacks[i]; %>
                                  <tr>
                                    <td><%- feedback.name %></td>
                                    <td><%- feedback.title %></td>
                                    <td><%- feedback.response %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
