<div class="content page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Year Graph</h4>
                        <p class="category">Percetanges of the club split up by year.</p>
                    </div>
                    <div class="content">
                        <div id="year_pie" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <i class="fa fa-circle text-info"></i> Freshman
                            <i class="fa fa-circle text-danger"></i> Sophomore
                            <i class="fa fa-circle text-warning"></i> Junior
                            <i class="fa fa-circle text-other"></i> Senior
                            <hr>
                            <div class="stats">
                                <i class="fa fa-pie-chart"></i> Rounded (ceiling) values
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Major Graph</h4>
                        <p class="category">Percetanges of the club split up by major.</p>
                    </div>
                    <div class="content">
                        <div id="major_pie" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-pie-chart"></i> Rounded (ceiling) values
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Role Graph</h4>
                        <p class="category">Percetanges of the club split up by role.</p>
                    </div>
                    <div class="content">
                        <div id="role_pie" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <i class="fa fa-circle text-info"></i> Leaders
                            <i class="fa fa-circle text-danger"></i> DevCore
                            <i class="fa fa-circle text-warning"></i> Web
                            <i class="fa fa-circle text-other"></i> Marketing
                            <i class="fa fa-circle text-other-2"></i> Exploration
                            <hr>
                            <div class="stats">
                                <i class="fa fa-pie-chart"></i> Rounded (ceiling) values
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="header">
                  <h4 class="title">Set Sign In Code</h4>
                  <p class="category">Leadership can set sign in code here</p>
                </div>
                <div class="content">
                  <form action="/signInCode" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Code</label>
                                <input required type="text" class="form-control" placeholder="code" value="<%- code %>" name="code">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Set</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Set Scores</h4>
                        <p class="category">Form for instructors/graders to set scores for assignments</p>
                    </div>
                    <div class="content">
                        <form action="/scores" method="post" id="scoresForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Member</label>
                                        <select form="scoresForm" name="memberId" required>
                                            <% for (var i = 0; i < members.length; i++) { %>
                                              <% var user = members[i]; %>
                                              <option value="<%- user._key %>"><%- user.name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Assignment</label>
                                        <select form="scoresForm" name="assignmentId" required>
                                          <% for (var i = 0; i < assignments.length; i++) { %>
                                            <% var assignment = assignments[i]; %>
                                            <option value="<%- assignment._key %>"><%- assignment.name %></option>
                                          <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Score</label>
                                        <input required type="text" class="form-control" placeholder="10/10" value="" name="score">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Set</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Allow Sign Up</h4>
                      <p class="category">Set whether users can signup</p>
                  </div>
                  <div class="content">
                      <form action="/canSignUp" method="post">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Boolean</label>
                                      <input required type="text" class="form-control" placeholder="'true' or 'false'" value="<%- canSignUp %>" name="bool">
                                  </div>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-info btn-fill pull-right">Set</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Set Semester Start</h4>
                        <p class="category">Set the date for the beginning of the semester</p>
                    </div>
                    <div class="content">
                        <form action="/semesterStart" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input required type="text" class="form-control" placeholder="1/17/17" value="<%- semesterStart %>" name="date">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Set</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Assignments</h4>
                        <p class="category">Form for instructors/graders to create assignments</p>
                    </div>
                    <div class="content">
                        <form action="/assignments" method="post" id="assignmentsForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Due</label>
                                        <input required type="text" class="form-control" placeholder="1/17/17" value="" name="due">
                                    </div>
                                    <div class="form-group">
                                        <label>Documentation Link</label>
                                        <input required type="text" class="form-control" placeholder="http://google.com" value="" name="link">
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input required type="text" class="form-control" placeholder="Android Mini Proj 1" value="" name="name">
                                    </div>
                                    <div class="form-group">
                                        <select form="assignmentsForm" required multiple class="form-control" name="roleIds">
                                          <% for (var i = 0; i < roles.length; i++) { %>
                                            <% var role = roles[i]; %>
                                            <option value="<%- i %>"><%- role.title %></option>
                                          <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Create Event</h4>
                      <p class="category pull-left">Create events for the semester here</p>
                  </div>
                  <div class="content">
                    <form action="/events" method="post">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Title</label>
                                      <input required type="text" class="form-control" placeholder="Hackshop #1" value="" name="title">
                                  </div>
                                  <div class="form-group">
                                      <label>Start Date</label>
                                      <input required type="text" class="form-control" placeholder="1/17/17" value="" name="startDate">
                                  </div>
                                  <div class="form-group">
                                      <label>Start Time</label>
                                      <input required type="text" class="form-control" placeholder="08:03 AM" value="" name="startTime">
                                  </div>
                                  <div class="form-group">
                                      <label>End Date</label>
                                      <input required type="text" class="form-control" placeholder="1/17/17" value="" name="endDate">
                                  </div>
                                  <div class="form-group">
                                      <label>End Time</label>
                                      <input required type="text" class="form-control" placeholder="09:03 AM" value="" name="endTime">
                                  </div>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-info btn-fill pull-right">Create</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Events</h4>
                        <p class="category pull-left">View of all events</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('events')" id="eventsToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Title</th>
                                <th>Date</th>
                                <th>End Time</th>
                                <th>Delete?</th>
                            </thead>
                            <tbody id="events">
                                <% for (var i = 0; i < events.length; i++) { %>
                                  <% var event = events[i]; %>
                                  <tr>
                                    <td><%- event.title %></td>
                                    <td><%- timeToString(event.timestamp, false, true) %></td>
                                    <td><%- timeToString(event.endTimestamp, false, true) %></td>
                                    <td>
                                      <form action="/events/<%- event._key %>" method="post">
                                        <button style="margin-left: 10px" type="submit">
                                          <i class="fa fa-trash"></i>
                                        </button>
                                      </form>
                                    </td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Expected Absence Overview</h4>
                        <p class="category pull-left">View of all expected absences</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('expectedAbsences')" id="expectedAbsencesToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Event</th>
                                <th>Reason</th>
                            </thead>
                            <tbody id="expectedAbsences">
                                <% for (var i = 0; i < expectedAbsences.length; i++) { %>
                                  <% var expected = expectedAbsences[i]; %>
                                  <tr>
                                    <td><%- expected.name %></td>
                                    <td><%- expected.title %></td>
                                    <td><%- expected.reason %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Assignment Overview</h4>
                        <p class="category pull-left">View of all assignments created</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('assignments')" id="assignmentsToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Due</th>
                                <th>Link</th>
                                <th>Roles</th>
                            </thead>
                            <tbody id="assignments">
                                <% for (var i = 0; i < assignments.length; i++) { %>
                                  <% var assignment = assignments[i]; %>
                                  <tr>
                                    <td><%- assignment.name %></td>
                                    <td><%- assignment.due %></td>
                                    <td><a href="<%- assignment.link %>" target="_blank"><%- assignment.link %></a></td>
                                    <td><%- roleIdsToString(roles, assignment.roleIds) %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Score Overview</h4>
                        <p class="category pull-left">View of scores for all assignments for all members</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('scores')" id="scoresToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Assignment Name</th>
                                <th>Member Name</th>
                                <th>Score</th>
                                <th>Due</th>
                                <th>Archive</th>
                            </thead>
                            <tbody id="scores">
                                <% for (var i = 0; i < scores.length; i++) { %>
                                  <% var score = scores[i]; %>
                                  <tr>
                                    <td><%- score.assignment_name %></td>
                                    <td><%- score.member_name %></td>
                                    <td><%- score.score %></td>
                                    <td><%- score.due %></td>
                                    <td>
                                      <form action="/scores/<%- score._key %>" method="post">
                                        <input type="hidden" name="archive" value="true">
                                        <button style="margin-left: 10px" type="submit">
                                          <i class="fa fa-archive"></i>
                                        </button>
                                      </form>
                                    </td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Attendance By Name</h4>
                    <p class="category pull-left">View of attendance summary by member name</p>
                </div>
                <div class="content">
                  <form action="/attendance" method="get">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input required type="text" class="form-control" placeholder="Name goes here" value="" name="name">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Get</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Attendance By Event</h4>
                    <p class="category pull-left">View of attendance summary by event title</p>
                </div>
                <div class="content">
                  <form action="/attendance" method="get">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Event</label>
                                <input required type="text" class="form-control" placeholder="Title goes here" value="" name="title">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Get</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Attendance Overview</h4>
                    <p class="category pull-left">View of attendance summary for each member</p>
                    <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('attendance')" id="attendanceToggle">Hide</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                          <th>Profile</th>
                          <th>Member</th>
                          <th>Attendances</th>
                          <th>Absences</th>
                          <th>Delete?</th>
                        </thead>
                        <tbody id="attendance">
                          <% for (var i = 0; i < members.length; i++) { %>
                            <% var member = members[i]; %>
                            <tr>
                              <td><img src="<%- member.profileImage %>" class="image-circle"></td>
                              <td><%- member.name %></td>
                              <td><%- attendanceData[member._key].signIns.length %></td>
                              <td><%- attendanceData[member._key].absences.length %></td>
                              <td>
                                <form action="/users/<%- member._key %>" method="post">
                                  <button style="margin-left: 10px" type="submit">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </form>
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Feedback</h4>
                        <p class="category pull-left">View of all feedback submitted</p>
                        <p class="category pull-right btn btn-default hide-button" onclick="toggleCard('feedback')" id="feedbackToggle">Hide</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Event</th>
                                <th>Response</th>
                            </thead>
                            <tbody id="feedback">
                                <% for (var i = 0; i < feedbacks.length; i++) { %>
                                  <% var feedback = feedbacks[i]; %>
                                  <tr>
                                    <td><%- feedback.name %></td>
                                    <td><%- feedback.title %></td>
                                    <td><%- feedback.response %></td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add Leader</h4>
                        <p class="category pull-left">Add new leaders to the board</p>
                    </div>
                    <div class="content">
                        <form action="/leaders" method="post" id="addLeadersForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Member</label>
                                        <select form="addLeadersForm" name="id" required>
                                            <% for (var i = 0; i < members.length; i++) { %>
                                              <% var user = members[i]; %>
                                              <option value="<%- user._key %>"><%- user.name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Add</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Manage Leaders</h4>
                        <p class="category pull-left">View and Edit leadership status</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Delete?</th>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < leaders.length; i++) { %>
                                  <% var leader = leaders[i]; %>
                                  <tr>
                                    <td><%- leader.name %></td>
                                    <td>
                                      <form action="/leaders/<%- leader._key %>" method="post">
                                        <button style="margin-left: 10px" type="submit">
                                          <i class="fa fa-trash"></i>
                                        </button>
                                      </form>
                                    </td>
                                  </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
